services:
  postgres:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: steam_games
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
    driver: local