[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
modal = "*"
pandas = "*"
numpy = "*"
sqlalchemy = "*"
python-dotenv = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
psycopg2-binary = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
